{% extends "temp.html" %}

{% set showPostBtn = True %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesScripts/chatroomStyles.css') }}">
{% endblock %}

{% block header %}
<div class="generic-header">
  <h2>Chatroom</h2>
</div>
{% endblock %}

{% block body %}

<div class="messages-container">
  <div class="messages">
    {% for message in messages %}
      <p class="message"><span class="username">@{{ message.username }}</span> {{ message.msg }}</p>
    {% endfor %}
  </div>
</div>

<div class="input-group message-input">
  <input type="text" class="form-control message-input-feild" maxlength="10000" placeholder="Your message">
  <button type="button" class="btn btn-outline-success message-input-btn"><i class="fa-solid fa-paper-plane fa-lg send-icon"></i></button>
</div>


<!-- UI and UX JS */ -->
<script>
  const userUsername = `{{user.username|e}}`;

  $(".message-input-btn").hover(
    function(){$(".send-icon").addClass("fa-beat")},
    function(){$(".send-icon").removeClass("fa-beat")}
  )

  // Submit message with "Enter" key
  $('.message-input-feild').keypress(function(event){
    if (event.keyCode === 13) {
      $(".message-input-btn").click();
    }
  })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Functional JS -->
<script src="{{ url_for('static', filename='stylesScripts/chatroom.js') }}"></script>
{% endblock %}
