<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Free Mart</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <script src="https://kit.fontawesome.com/7dfc14ad36.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesScripts/bootstrapStyles.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesScripts/customStyles.css') }}">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='stylesScripts/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='stylesScripts/darkMode.js') }}" ></script>
      <script src="{{ url_for('static', filename='stylesScripts/customJs.js') }}" ></script>
      {% block styles %}
      {% endblock %}
  </head>
  <body>
    <noscript>
    <div id="no-script">
      <h1>Please enable JavaScript on your browser to use this site.</h1>
    </div>
</noscript>
    <nav class="navbar navbar-expand-lg pt-3 px-2">
      <div class="container-fluid m-0">
        <a style="font-size: 2.8rem;" class="navbar-brand">
          <img onclick="switchDarkMode()"id="secretToggler" src="{{ url_for('static', filename='favicon.png') }}" width="50" height="50" class="d-inline-block align-top ms-2" alt="FreeMart Logo">
          Free Mart
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-1">
              <a class="nav-link" href="{{ url_for('user.chatroom_page') }}">Chatroom</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link" href="{{ url_for('income.quiz_page') }}">Quiz</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link" href="{{ url_for('market.market_page') }}">Market</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item px-1">
              <a class="nav-link" href="{{ url_for('user.profile_page', username=current_user.username) }}">{{ current_user.username }} <span style="font-size: 0.56rem; font-stretch: semi-expanded;">({{current_user.balance|round(2)}} FMC)</span></a>
            </li>

            <li class="nav-item ps-2 pe-1">
              <a class="nav-link logout-link" href="{{ url_for('auth.logout_page') }}"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a>
            </li>
            {% else %}
            <li class="nav-item ps-2 pe-1">
              <a class="nav-link login-link" href="{{ url_for('auth.login_page') }}"><i class="fa-solid fa-right-to-bracket fa-lg"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger alert-dismissible fade show alert-box {% if alertBelow %} alert-below {% endif %}" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% elif category== "warning" %}
            <div class="alert alert-warning alert-dismissible fade show alert-box {% if alertBelow %} alert-below {% endif %}" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% else %}
            <div class="alert alert-success alert-dismissible fade show alert-box {% if alertBelow %} alert-below {% endif %}" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block header %}
    {% endblock %}

    <div id="content" class="container-fluid">
      {% if showPostBtn %}
        <a class='btn btn-xl btn-success add-post-btn' href="{{ url_for('market.post_page') }}"><i class="fa-solid fa-plus add-post-ico"></i><span class="add-post-text">Post</span></a>
      {% endif %}
      {% block body %}
      {% endblock %}
    </div>
    <p class="footer text-center text-muted p-3">© FreeMart 2026 | <a class="muted-link" href="mailto:alexander@kashpir.com">Contact Developer</a></p>
  </body>
</html>
