.messages-container {
  margin: 0 auto;
  background-color: #606d5d;
  border-radius: 15px;
  width: 95%;
  padding: 1rem;
}

.messages {
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message {
  width: fit-content;
  padding: 5px 10px;
  background-color: #d0d6cf;
  border-radius: 20px;
}

.username {
  color: #6874e8;
}

.message-input-feild {
  border-right: none;
}


@media only screen and (min-width: 992px) {
  .messages-container {
    width: 85%;
  }
  .message-input {
    width: 66%;
  }
}

@media only screen and (min-width: 1200px) {
  .messages-container {
    width: 75%;
  }
  .message-input {
    width: 60%;
  }
}
